*~
TAGS
*.html
*.pdf
*.log

*.abcl
*.fas
*.lib
*.ofasl
*.xfasl

code/load-module.scm

book.aux
book.dvi
book.fdb_latexmk
book.fls
book.toc
code/201603.txt
code/README.md
code/foo.jpg
code/merge.lisp
code/pregexp.md