body {
	margin-top: 4em;
	margin-left: 6em;
	font-family: serif;
	max-width: 60%;
    background-color: #F4ECD8;
    color: #5B4636;
}

#toc {
    position: fixed;
    right: 4em;
    top: 0em;
}

h1,h2,h3,h4,h5,h6 {
  color: #205081;
  font-family: sans-serif;
  line-height: 1.2;
}

a:link {
	color: #800000;
	font-weight: bold;
	font-family: Helvetica;
}

p {
  text-align: justify;
  hyphens: auto;
  line-height: 1.2;
}

.red   { color: #ff0000; }
.green { color: #008B00; }
.orange { color: orange; }
.gray { color: gray; }

.info { background-color: #87CEEB; }
.note { background-color: #FFFF00; }
.tip { background-color: #7FFF00; }
.warning { background-color: #FF0000; }

blockquote {
    font-style: italic; 
}

table {
    border: 1px solid #777;
    padding: 1px;
}

tr td {
    border: 1px solid gray;
    margin: 1px;
}
